<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="grab.com.thuexetoancau">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.Activity.Passenger.GetInforPassengerActivity" />
        <activity android:name=".UI.Activity.Passenger.FormPassengerBookingActivity" />

        <service android:name=".Fcm.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".UI.Activity.Together.SelectRoleActivity" />
        <activity android:name=".UI.Activity.Driver.RegisterDriverActivity" />
        <activity android:name=".UI.Activity.Together.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.Activity.Driver.ListDriverAuctionActivity" />
        <activity android:name=".UI.Activity.Driver.NewCarAuctionsActivity" />
        <activity android:name=".UI.Activity.Driver.LoginDriverActivity" />
        <activity android:name=".UI.Activity.Passenger.PassengerSelectActionActivity" />
        <activity android:name=".UI.Activity.Passenger.BookingResultActivity" />
        <activity android:name=".UI.Activity.Passenger.ListPassengerBookingActivity" />
        <activity android:name=".UI.Activity.Driver.ListPassengerBookingEachDriver" />
        <activity android:name=".UI.Activity.Driver.ListDriverBookingActivity" />
        <activity android:name=".UI.Activity.Driver.GetInforDriverBookingActivity" />
        <activity android:name=".UI.Activity.Driver.EditDriverActivity"></activity>
        <activity android:name=".UI.Activity.Driver.ListAuctionSuccessActivity"></activity>
    </application>

</manifest>